{% extends "base.html" %} {% block content %}

<h3 class="light-blue-text text-darken-4 center-align">Add Meeting</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix light-blue-text text-darken-4">gavel</i>
                    <input id="meeting_name" name="meeting_name" minlenght="5" maxlength="50"
                        type="text" class="validate" required>
                    <label for="meeting_name">Meeting Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix light-blue-text text-darken-4">content_paste</i>
                    <textarea id="meeting_agenda" name="meeting_agenda" minlenght="5"
                        maxlength="500" class="materialize-textarea validate" required></textarea>
                    <label for="meeting_agenda">Meeting Agenda</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix light-blue-text text-darken-4">event</i>
                    <input id="meeting_date" name="meeting_date"
                        type="text" class=" datepicker validate" required>
                    <label for="meeting_date">Meeting Date</label>
                </div>
            </div>
        </form>
    </div>

{% endblock %}
