{% extends "base.html" %}
{% block content %}


    {% for meeting in meetings %}
        {{ meeting.meeting_name }}<br>
        {{ meeting.group_name }}<br>
        {{meeting.meeting_date }}<br>
        {{ meeting.meeting_agenda }}<br>
        {{ meeting.meeting_report}}<br>
        {{ meeting.meeting_minutes }}<br>
        {{ meeting.meeting_actions }}<br>
    {% endfor %}

    <ul class="collapsible">
        <li>
            <div class="collapsible-header white-text light-blue darken-4 text-shadow"><i class="material-icons">arrow_drop_down</i>First</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header white-text light-blue darken-4 text-shadow"><i class="material-icons">arrow_drop_down</i>Second</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header white-text light-blue darken-4 text-shadow"><i class="material-icons">arrow_drop_down</i>Third</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>    

{% endblock %}
