{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">All Meetings</h3>

    <ul class="collapsible">
        {% for meeting in meetings %}
        <li>
            <div class="collapsible-header white-text light-blue darken-4 text-shadow">
                <i class="material-icons">arrow_drop_down</i>
                <strong>{{ meeting.meeting_name }}</strong> : {{meeting.meeting_date }}
            </div>
            <div class="collapsible-body">
                <strong>{{ meeting.group_name }}</strong>
                <p>{{ meeting.meeting_agenda }}</p>
                <p><em>by: {{ meeting.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>    

{% endblock %}
