{% extends "base.html" %}
{% block content %}


    {% for meeting in meetings %}
        {{ meeting.meeting_name }}<br>
        {{ meeting.group_name }}<br>
        {{meeting.meeting_date }}<br>
        {{ meeting.meeting_agenda }}<br>
        {{ meeting.meeting_report}}<br>
        {{ meeting.meeting_minutes }}<br>
        {{ meeting.meeting_actions }}<br>
    {% endfor %}

    <ul class="collapsible">
        {% for meeting in meetings %}
        <li>
            <div class="collapsible-header white-text light-blue darken-4 text-shadow">
                <i class="material-icons">arrow_drop_down</i>
                <strong>{{ meeting.meeting_name }}</strong> : {{meeting.meeting_date }}
            </div>
            <div class="collapsible-body">
                <strong>{{ meeting.group_name }}</strong>
                <p>{{ meeting.meeting_agenda }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>    

{% endblock %}
