{% extends "base.html" %} 
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h4 class="center-align purple-text text-darken-4"><i class="small material-icons prefix purple-text text-darken-4">person</i> Profile</h4>
                <h6>Username: <strong>{{ username }}</strong></h6>
                    <p>You can now view your <a href="{{ url_for('get_meetings') }}" class="purple-text text-darken-1">Meetings</a>.</p>
                    <p>All users can add a new Meeting</p>
                    <p>You can only edit or delete a Meeting that YOU created, or if you are an Admin.</p>
                    <p>You can only manage 'Groups' if you are an Admin.</p>
            </div>
        </div>
    </div>

{% endblock %}
